.navigation a {
  text-decoration: none;
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.navbar {
  background-color: #2C3E50;
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
}

.navigation {
  display: flex;
}

.navigation h3 {
  margin-top: 15px;
  color: #ffffff;
}

.navigation h4 {
  margin-top: 17px;
  color: #ffffff;
}